  form.create-post {
      width:70%; 
      margin: auto; 
      margin-top: 2%;
      button{
        background-color: #FF3F18;
        hover: {
          background-color: #FF3F18;
        }
      }
    textarea {
      height: 300px;
    }
    div.bottom {
      max-width: 500px;
      margin: auto;
    }
    span.error {
      color: red;
    }
  }